flight.xml

<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. 
-->
<!--
 Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. 
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="FlightOrderServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:7001/MI-MDW-HT08/FlightOrderServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="getBookings">
<part name="parameters" element="tns:getBookings"/>
</message>
<message name="getBookingsResponse">
<part name="parameters" element="tns:getBookingsResponse"/>
</message>
<message name="addBooking">
<part name="parameters" element="tns:addBooking"/>
</message>
<message name="addBookingResponse">
<part name="parameters" element="tns:addBookingResponse"/>
</message>
<message name="removeBooking">
<part name="parameters" element="tns:removeBooking"/>
</message>
<message name="removeBookingResponse">
<part name="parameters" element="tns:removeBookingResponse"/>
</message>
<message name="updateBooking">
<part name="parameters" element="tns:updateBooking"/>
</message>
<message name="updateBookingResponse">
<part name="parameters" element="tns:updateBookingResponse"/>
</message>
<portType name="FlightOrderService">
<operation name="getBookings">
<input wsam:Action="http://services/FlightOrderService/getBookingsRequest" message="tns:getBookings"/>
<output wsam:Action="http://services/FlightOrderService/getBookingsResponse" message="tns:getBookingsResponse"/>
</operation>
<operation name="addBooking">
<input wsam:Action="http://services/FlightOrderService/addBookingRequest" message="tns:addBooking"/>
<output wsam:Action="http://services/FlightOrderService/addBookingResponse" message="tns:addBookingResponse"/>
</operation>
<operation name="removeBooking">
<input wsam:Action="http://services/FlightOrderService/removeBookingRequest" message="tns:removeBooking"/>
<output wsam:Action="http://services/FlightOrderService/removeBookingResponse" message="tns:removeBookingResponse"/>
</operation>
<operation name="updateBooking">
<input wsam:Action="http://services/FlightOrderService/updateBookingRequest" message="tns:updateBooking"/>
<output wsam:Action="http://services/FlightOrderService/updateBookingResponse" message="tns:updateBookingResponse"/>
</operation>
</portType>
<binding name="FlightOrderServicePortBinding" type="tns:FlightOrderService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getBookings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FlightOrderServiceService">
<port name="FlightOrderServicePort" binding="tns:FlightOrderServicePortBinding">
<soap:address location="http://localhost:7001/MI-MDW-HT08/FlightOrderServiceService"/>
</port>
</service>
</definitions>